<h1>{{event.title}} details</h1>

<hr>

<div class="card mt-5 ms-5" style="max-width: 2000px;">

    <div class="row">


        <div class="col-md-8 mt-3">

            <div class="card-body">

                <p class="card-text">Game: {{event.gameName}}</p>

                <br>

                <p class="card-text">Description: {{event.description}}</p>

                <br>

                <p class="card-text"> Date: {{event.formattedDate}} {{event.formattedTime}}</p>

                <br>

                <p class="card-text"> Organize by: {{event.organizer.username}}</p>

                <br>

                <p>Attendees:</p>
                <ul>
                    {{#each event.attendees}}

                    <li>{{username}}</li>

                    {{/each}}
                </ul>
                <p class="card-text"> Location: {{event.location}}</p>

                {{#if isEventOwner}}
                <a href="/events/edit/{{event.id}}" class=" btn btn-outline-warning">Edit</a>
                <a href="/events/delete/{{event.id}}" class=" btn btn-outline-danger">Delete</a>
                {{/if}}


                <br>
                {{#unless isEventOwner }}
                {{#unless eventJoined }}
                <a href="/events/joinEvent/{{event.id}}" class=" btn btn-outline-success">Join</a>
                {{/unless}}

                {{#if eventJoined}}
                <a href="/events/withdrawEvent/{{event.id}}" class=" btn btn-outline-danger">Withdraw</a>
                {{/if}}
                {{/unless}}


            </div>

        </div>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../../js/event-map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?callback=init"></script>