<h2 id="pageTitle"> Community Events </h2>

<div class="row" id="eventsSection">

    {{#each events}}

    <div class="col-md-6 mt-4 mb-5" id="eventInformation">

        <div class="card text-center" id="eventCard">

            <div class="card-body" id="eventBody">

                <p class="card-text"> <strong>{{title}}</strong></p>

                <p class="card-text"> <strong> Game: </strong>{{gameName}}</p>

                <p class="card-text"> <strong>Date:</strong> {{this.formattedDate}} {{this.formattedTime}}</p>

                <p class="card-text"> <strong>Address:</strong> {{address}}</p>

                <a class=" btn btn-outline-dark" href="/events/details/{{id}}">Event details</a>

                {{#if isLogged}}

                <a class=" btn btn-outline-dark" href="/events/details/{{id}}">Event details</a>

                {{/if}}

            </div>

        </div>

    </div>

    {{/each}}

    <figure id="myMap"></figure>

</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/event-map.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCz8RHbRw95QurDWj-8mJT1YBBOTToR_zs&callback=renderMap"></script>