<h2 id="pageTitle"> Details of {{event.title}}</h2>

<div class="card mt-5" style="max-width: 2500px;">

    <div class="row">

        <div class="col-md-6 mt-3">

            <div class="card-body">

                <p class="card-text"> <strong>{{event.title}}</strong></p>

                <br>

                <p class="card-text"> <strong> Game: </strong>{{event.gameName}}</p>

                <br>

                <p class="card-text"> <strong> Description: </strong>{{event.description}}</p>

                <br>

                <p class="card-text"> <strong>Date:</strong> {{this.formattedDate}} {{this.formattedTime}}</p>

                <br>

                <p class="card-text"> <strong>Address:</strong> {{event.address}}</p>

                <br>

                <p class="card-text"> <strong> Organized by: </strong> {{event.organizer.username}}</p>

                <br>

                <p class="card-text"> <strong> Attendees: </strong></p>

                <ul>
                    {{#each event.attendees}}
                    <li>{{username}}</li>
                    {{/each}}
                </ul>

                {{#if isEventOwner}}
                <a href="/events/edit/{{event.id}}" class=" btn btn-outline-warning">Edit event</a>
                <a href="/events/delete/{{event.id}}" class=" btn btn-outline-danger">Delete event</a>
                {{/if}}

                <br>

                {{#unless isEventOwner }}
                {{#unless eventJoined }}
                <a href="/events/joinEvent/{{event.id}}" class=" btn btn-outline-success">Join event</a>
                {{/unless}}

                {{#if eventJoined}}
                <a href="/events/withdrawEvent/{{event.id}}" class=" btn btn-outline-danger">Withdraw</a>
                {{/if}}
                {{/unless}}

            </div>

        </div>

        <div class="col-6">

            <figure id="myMap"></figure>

        </div>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/event-map.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCz8RHbRw95QurDWj-8mJT1YBBOTToR_zs&callback=renderMap"></script>