<div class="row" id="inputBox">

    <h2>Edit event</h2>

    <div class="col-4">

        <form action="/events/edit/{{id}}" method="post">

            <div class="inputBox mb-3 mb-4">
                <label for="Title" class="form-label">Title</label>
                <input type="text" class="form-control" id="Title" name="title" value="{{event.title}}">

            </div>

            <div class="inputBox mb-3 mb-4">
                <label for="game" class="form-label">Game</label>
                <input type="text" class="form-control" id="game" name="gameInfo" value="{{event.gameName}}" readonly>
            </div>

            <div class="inputBox mb-3 mb-4">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description" name="description"
                    value="{{event.description}}">
            </div>

            <div class="inputBox mb-3 mb-4">
                <label for="Date" class="form-label">Date</label>
                <input type="datetime-local" class="form-control" id="Date" name="date" value="2024-01-01T19:30">
            </div>

            <div class="inputBox mb-3 mb-4">
                <label for="Address" class="form-label">Address</label>
                <input type="text" class="form-control" id="Address" name="address" value="{{event.address}}">
            </div>

            <button type="submit" class="btn btn-success ">Save changes</button>

        </form>

    </div>

</div>