<h1>Check our global masters network</h1>

<div class="row row-cols-4 row-cols-md-4 g-4 mt-3 ms-4 me-4">

    {{#each users}}

    <div class="col">

        <div class="card h-75 ms-3">

            <img src="{{profilePicture}}" class="card-img-top" alt="profilePicture">

            <div class="card-body">

                <p class="card-text"> {{username}}</p>

                <p class="card-text"> {{description}}</p>

                <br>

                {{#if isFriend}}

                <a class="btn btn-dark" href="#" role=" button">You are friends!</a>

                {{/if}}

                {{#unless isFriend}}

                <a class="btn btn-dark" href="/community/add-friend/{{id}}" role=" button">Add as friend</a>

                {{/unless}}

                <a class="btn btn-dark" href="/community/details/{{_id}}" role="button">See profile</a>

                <br>

                <br>


            </div>

        </div>

    </div>

    {{/each}}

</div>