<h2 id="pageTitle">Check our global network</h2>

<div class="row mt-5" id="friendSection">

    {{#each users}}

    <div class="col-md-3 mb-5" id="friendInformation">

        <div class="card text-center" id="friendCard">

            <div class="card-header mt-2" id="friendHeader">

                <img src="{{profilePicture}}" class="img-fluid rounded-circle" alt="friendPicture" id="friendAvatar">

            </div>

            <div class="card-body" id="friendBody">

                <p class="card-text"> <strong>{{username}}</strong></p>

                <a class="btn btn-outline-dark" href="/community/details/{{_id}}" role="button">See profile</a>

                {{#if isFriend}}

                <a class="btn btn-outline-danger" href="/community/remove-friend/{{id}}" role=" button">Remove
                    friend</a>

                {{/if}}

                {{#unless isFriend}}

                <a class="btn btn-outline-success" href="/community/add-friend/{{id}}" role=" button">Add as friend</a>

                {{/unless}}

                <br>

                <br>


            </div>

        </div>

    </div>

    {{/each}}

</div>