<h2 id="pageTitle">Profile of {{user.username}}!</h2>

<div class="row mt-5 mb-5 rounded" id="userSection">

    <div class="col-md-6 mt-5" id="userInformation">

        <div class="card-header" id="userHeader">
            <img src="{{user.profilePicture}}" class="img-fluid rounded-circle" alt="profilePicture" id="userAvatar">
        </div>

        <div class="card-body" id="userBody">

            <p class="card-text"> <strong>Username:</strong> {{user.username}}</p>

            <p class="card-text"> <strong> E-mail:</strong> {{user.email}}</p>

            <p class="card-text"> <strong>Description:</strong> {{user.description}}</p>

            <div id="buttonsBoxes">

                <form action="/community/add-friend/{{user.id}}" method="POST">
                    <a class="btn btn-light" href="/community/add-friend/{{id}}" role="button">Add as a
                        friend</a>
                </form>

            </div>

        </div>

    </div>

</div>

<h2 id="pageTitle">Favorite games of {{user.username}}</h2>

<div class="row" id="#gamesSection">

    {{#each gameDetails}}

    <div class="col-3 mb-5 mt-4" id="gamesInformation">

        <div class="card text-center" id="gameCard">

            <div class="card-header pt-5" id="gameHeader">

                <img src="{{this.image_url}}" class="card-img-top" alt="{{this.name}}" id="gameCover">

            </div>

            <div class="card-body" id="gameBody">

                <h5 class="card-title mb-5">{{this.name}}</h5>

                <a class=" btn btn-light" href="/games/details/{{this.id}}">Game details</a>

            </div>

        </div>

    </div>

    {{/each}}

</div>

<h2 id="pageTitle"> Friends of {{user.username}}</h2>

<div class="row" id="friendSection">

    {{#each friendDetails}}

    <div class="col-md-3 mt-4 mb-5" id="friendInformation">

        <div class="card text-center" id="friendCard">

            <div class="card-header mt-2" id="friendHeader">

                <img src="{{this.profilePicture}}" class="img-fluid rounded-circle" alt="friendPicture"
                    id="friendAvatar">

            </div>

            <div class="card-body" id="friendBody">

                <p class="card-text"> <strong>{{this.username}}</strong></p>

                <a class="btn btn-light" href="/community/details/{{_id}}" role="button">See profile</a>

            </div>

        </div>

    </div>

    {{/each}}

</div>

<h2 id="pageTitle"> Events that {{user.username}} is attending</h2>

<div class="row" id="eventsSection">

    {{#each eventsDetails}}

    <div class="col-md-6 mt-4 mb-5" id="eventInformation">

        <div class="card text-center" id="eventCard">

            <div class="card-body" id="eventBody">

                <p class="card-text"> <strong>{{this.title}}</strong></p>

                <p class="card-text"> <strong> Game: </strong>{{this.gameName}}</p>

                <p class="card-text"> <strong>Date:</strong> {{this.formattedDate}} {{this.formattedTime}}</p>

                <p class="card-text"> <strong>Address:</strong> {{event.address}}</p>

                <a href="/events/details/{{id}}" class=" btn btn-light">Event details</a>

            </div>

        </div>

    </div>

    {{/each}}

</div>