<h1>Main info</h1>

<div class="card mt-5 ms-5" style="max-width: 2000px;">

    <div class="row">

        <div class="col-md-4">
            <img src="{{user.profilePicture}}" class="img-fluid rounded-start" alt="profilePicture">
        </div>

        <div class="col-md-8 mt-3">

            <div class="card-body">

                <p class="card-text">Username: {{user.username}}</p>

                <br>

                <p class="card-text">E-mail: {{user.email}}</p>

                <br>

                <p class="card-text"> Description: {{user.description}}</p>

                <br>

                <form action="/community/add-friend/{{user.id}}" method="POST">
                    <a class="btn btn-dark" href="/community/add-friend/{{id}}" role="button">Add as a friend</a>
                </form>

            </div>

        </div>

    </div>

</div>

<h1> Favorite games of {{user.username}} </h1>

<h1> Events that {{user.username}} is attending </h1>