<h2 id="pageTitle">Game details</h2>

<div class="row me-2 mt-5" id="gameDetails">

    <div class="col-5" id="gameImage">

        <img src="{{game.image_url}}" alt="{{game.name}}">

        <br><br>

        {{#if isLogged}}

        {{#if gameAdded}}
        <a href="/games/delete-game/{{game.id}}" class="btn btn-danger">Remove from favorites</a>
        {{/if}}

        {{#unless gameAdded}}
        <a href="/games/add-game/{{game.id}}" class="btn btn-success">Add to favorites</a>
        {{/unless}}

        <a class="btn btn-success" href="/events/create/{{game.id}}/{{game.name}}" role="button">New Event</a>

        {{/if}}

    </div>

    <div class="col-6 mt-5" id="gameInfo">

        <h2 id="pageTitle"> {{game.name}}</h2>
        <br>
        <p> <strong>Published in:</strong> {{game.year_published}}</p>
        <p> <strong>Players:</strong> {{game.players}}</p>
        <p> <strong>Min age: </strong>{{game.min_age}}</p>
        <p> <strong>Play time:</strong> {{game.playtime}} mins</p>
        <br>
        <p>{{game.description_preview}}</p>

    </div>

</div>