<div class="container">
    <h1>{{game.name}} details</h1>
    <hr>
    <div class="row me-2 mt-5">

        <div class="col-5">
            <img src="{{game.image_url}}" alt="{{game.name}}">
            <br><br>
            {{#if gameAdded}}
            <a href="/games/delete-game/{{game.id}}" class="btn btn-danger">Delete</a>
            {{/if}}
            {{#unless gameAdded}}
            <a href="/games/add-game/{{game.id}}" class="btn btn-success">Add</a>
            {{/unless}}

        </div>

        <div class="col-6 mt-5">
            <h2>{{game.name}}</h2>
            <hr>
            <p>Published in {{game.year_published}}</p>
            <p>Players: {{game.players}}</p>
            <p>Min age: {{game.min_age}}</p>
            <p>Play time: {{game.playtime}} mins</p>
            <p>{{game.description_preview}}</p>

        </div>
    </div>
</div>
</div>