<h2 id="pageTitle">Game details</h2>

<div class="row me-2 mt-5" id="gameDetails">

    <div class="col-5" id="gameImage">

        <img src="{{game.image_url}}" alt="{{game.name}}">

        <br><br>

        {{#if isLogged}}

        {{#if gameAdded}}
        <a href="/games/delete-game/{{game.id}}" class="btn btn-danger">Remove from favorites</a>
        {{/if}}

        {{#unless gameAdded}}
        <a href="/games/add-game/{{game.id}}" class="btn btn-success">Add to favorites</a>
        {{/unless}}

        <a class="btn btn-success" href="/events/create/{{game.id}}/{{game.name}}" role="button">New Event</a>

        {{/if}}

    </div>

    <div class="col-6 mt-5" id="gameInfo">

        <h2 id="pageTitle"> {{game.name}}</h2>
        <br>
        <p> <strong>Published in:</strong> {{game.year_published}}</p>
        <p> <strong>Players:</strong> {{game.players}}</p>
        <p> <strong>Min age: </strong>{{game.min_age}}</p>
        <p> <strong>Play time:</strong> {{game.playtime}} mins</p>
        <br>
        <p>{{game.description_preview}}</p>

    </div>
    <h2 id="pageTitle"> My friends </h2>

    <div class="row" id="friendSection">

        {{#each users}}

        <div class="col-md-3 mt-4 mb-5" id="friendInformation">

            <div class="card text-center" id="friendCard">

                <div class="card-header mt-2" id="friendHeader">

                    <img src="{{this.profilePicture}}" class="img-fluid rounded-circle" alt="friendPicture"
                        id="friendAvatar">

                </div>

                <div class="card-body" id="friendBody">

                    <p class="card-text"> <strong>{{this.username}}</strong></p>

                    <a class="btn btn-outline-dark" href="/community/details/{{_id}}" role="button">See profile</a>

                    <br> <br>

                    <a class="btn btn-outline-danger" href="/community/remove-friend/{{id}}" role=" button">Remove
                        friend</a>

                </div>

            </div>

        </div>

        {{/each}}

    </div>

    <h2 id="pageTitle"> My events </h2>

    <div class="row" id="eventsSection">

        {{#each events}}

        <div class="col-md-6 mt-4 mb-5" id="eventInformation">

            <div class="card text-center" id="eventCard">

                <div class="card-body" id="eventBody">

                    <p class="card-text"> <strong>{{this.title}}</strong></p>

                    <p class="card-text"> <strong> Game: </strong>{{this.gameName}}</p>

                    <p class="card-text"> <strong>Date:</strong> {{this.formattedDate}} {{this.formattedTime}}</p>

                    <p class="card-text"> <strong>Address:</strong> {{event.address}}</p>

                    <a class=" btn btn-outline-dark" href="/events/details/{{id}}">Event details</a>

                    <a class=" btn btn-outline-danger" href="/events/withdrawEvent/{{event.id}}">Withdraw</a>

                </div>

            </div>

        </div>

        {{/each}}

    </div>