<h2 id="pageTitle"> Category: {{category_name}} </h2>

<div class="row mt-5 mb-5" id="#gamesSection">

    {{#each games}}

    <div class=" col-3 mt-5 mb-5" id="gamesInformation">

        <div class="card mb-5" id="gameCard">

            <div class="card-header" id="gamesCardHeader">

                <img src="{{image_url}}" class="card-img-top " alt="{{name}}" id="gameCover">

            </div>

            <div class="card-body" id="gamesCardBody">

                <h5 class="card-title">{{name}}</h5>

                <br>

                <a href="/games/details/{{id}}" class=" btn btn-dark">Game details</a>

            </div>

        </div>

    </div>

    {{/each}}

</div>