<div class="row" id="userInformation">

    <h2 id="pageTitle">Welcome, {{user.username}}!</h2>

    <div class="col-md-6">

        <img src="{{user.profilePicture}}" class="img-fluid rounded-start" alt="profilePicture" id="userCard-avatar">

    </div>

    <p class="card-text"> <strong>Username:</strong> {{user.username}}</p>

    <p class="card-text"> <strong> E-mail:</strong> {{user.email}}</p>

    <p class="card-text"> <strong>Description:</strong> {{user.description}}</p>

    <form action="/users/edit/{{user.id}}" method="POST">
        <a class="btn btn-dark" href="/users/edit/{{user.id}}" role="button">Edit profile</a>
    </form>

    <form action="/users/delete/{{user.id}}" method="POST">
        <input class="btn btn-dark mt-3" type="submit" role="button" value="Delete profile">
    </form>

</div>

<div class="row" id="gameInformation">

    <h2 id="pageTitle"> My games </h2>

    {{#each gameDetails}}

    <div class="col-4" id="gameCard">

        <div class="card-header">

            <img src="{{this.image_url}}" class="card-img-top" alt="..." id="gameCover">

        </div>

        <div class="card-body">

            <h5 class="card-title">{{this.name}}</h5>

            <br>

            <a href="/games/details/{{this.id}}" class=" btn btn-dark">Details</a>

            <br>

            <br>

            <a href="/games/delete-game/{{this.id}}" class="btn btn-dark">Remove from favorites</a>

        </div>

    </div>

    {{/each}}

</div>

<div class="row" id="friendsInformation">

    <h2 id="pageTitle"> My friends </h2>

    {{#each friendDetails}}

    <div class="col-4" id="friendCard">

        <div class="card">

            <img src="{{this.profilePicture}}">

            <div class="card-body">

                {{this.username}}

                <br>

                <br>

                <a class="btn btn-dark" href="/community/details/{{_id}}" role="button">See profile</a>

                <a class="btn btn-dark" href="/community/remove-friend/{{id}}" role=" button">Remove friend</a>

            </div>

        </div>

    </div>

    {{/each}}

</div>