<h2 id="pageTitle">Welcome, {{user.username}}!</h2>

<div class="row mt-5 mb-5 rounded" id="userSection">

    <div class="col-md-6 mt-5" id="userInformation">

        <div class="card-header" id="userHeader">

            <img src="{{user.profilePicture}}" class="img-fluid rounded-circle" alt="profilePicture" id="userAvatar">

        </div>

        <div class="card-body" id="userBody">

            <p class="card-text"> <strong>Username:</strong> {{user.username}}</p>

            <p class="card-text"> <strong> E-mail:</strong> {{user.email}}</p>

            <p class="card-text"> <strong>Description:</strong> {{user.description}}</p>

            <div id="buttonsBoxes">

                <form action="/users/edit/{{user.id}}" method="POST">
                    <a class="btn btn-outline-dark" role="button" href="/users/edit/{{user.id}}">Edit profile</a>
                </form>

                <form action="/users/delete/{{user.id}}" method="POST">
                    <input class="btn btn-outline-danger" type="submit" role="button" value="Delete profile">
                </form>

            </div>

        </div>

    </div>

</div>


<h2 id="pageTitle"> My games </h2>

<div class="row" id="#gamesSection">

    {{#each gameDetails}}

    <div class="col-3 mb-5 mt-4" id="gamesInformation">

        <div class="card text-center" id="gameCard">

            <div class="card-header pt-5" id="gameHeader">

                <img src="{{this.image_url}}" class="card-img-top" alt="{{this.name}}" id="gameCover">

            </div>

            <div class="card-body" id="gameBody">

                <h5 class="card-title mb-5">{{this.name}}</h5>

                <a class="btn btn-outline-success mb-2" href="/events/create/{{this.id}}/{{this.name}}"
                    role="button">New
                    Event</a>

                <a class="btn btn-outline-dark mb-2" href="/games/details/{{this.id}}">Game details</a>

                <a class="btn btn-outline-danger" href="/games/delete-game/{{this.id}}">Remove favorite</a>

            </div>

        </div>

    </div>

    {{/each}}

</div>

<h2 id="pageTitle"> My friends </h2>

<div class="row" id="friendSection">

    {{#each friendDetails}}

    <div class="col-md-3 mt-4 mb-5" id="friendInformation">

        <div class="card text-center" id="friendCard">

            <div class="card-header mt-2" id="friendHeader">

                <img src="{{this.profilePicture}}" class="img-fluid rounded-circle" alt="friendPicture"
                    id="friendAvatar">

            </div>

            <div class="card-body" id="friendBody">

                <p class="card-text"> <strong>{{this.username}}</strong></p>

                <a class="btn btn-outline-dark" href="/community/details/{{_id}}" role="button">See profile</a>

                <br> <br>

                <a class="btn btn-outline-danger" href="/community/remove-friend/{{id}}" role=" button">Remove
                    friend</a>

            </div>

        </div>

    </div>

    {{/each}}

</div>

<h2 id="pageTitle"> My events </h2>

<div class="row" id="eventsSection">

    {{#each eventsDetails}}

    <div class="col-md-6 mt-4 mb-5" id="eventInformation">

        <div class="card text-center" id="eventCard">

            <div class="card-body" id="eventBody">

                <p class="card-text"> <strong>{{this.title}}</strong></p>

                <p class="card-text"> <strong> Game: </strong>{{this.gameName}}</p>

                <p class="card-text"> </strong>Date:</strong> {{this.formattedDate}} {{this.formattedTime}}</p>

                <p class="card-text"> </strong>Location:</strong> {{event.location}}</p>

                <a class=" btn btn-outline-dark" href="/events/details/{{id}}">Event details</a>

                <a class=" btn btn-outline-danger" href="/events/withdrawEvent/{{event.id}}">Withdraw</a>

            </div>

        </div>

    </div>

    {{/each}}

</div>