<h1>User edit</h1>

<div class="row justify-content-center mt-5">

    <div class="col-4">

        <form action="/users/edit/{{user._id}}" method="POST">
            {{!-- <form action="/users/edit/{{user._id}}" method="POST" enctype="multipart/form-data"></form> --}}

            <div class="inputBox mb-3 mb-4">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" value="{{user.username}}">
            </div>

            <div class="inputBox mb-3 mb-4">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description" name="description"
                    value="{{user.description}}">
            </div>

            <div class="inputBox mb-3 mb-4">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" value="{{user.email}}">
            </div>

            {{!-- how to perform a password update? --}}
            {{!-- <div class="inputBox mb-3 mb-4">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div> --}}

            <div class="inputBox mb-3 mb-4">
                <label for="profilePicture" class="form-label">Profile picture</label>
                <input type="file" class="form-control" id="profilePicture" name="profilePicture">
            </div>

            <button type="submit" class="btn btn-dark ">Save changes</button>

            {{!-- <form action="/users/edit/{{user.id}}" method="POST">
                <a class="btn btn-dark" href="/users/edit/{{user.id}}" role="button">Save changes</a>
            </form> --}}

        </form>

    </div>

</div>