<h1>Welcome, {{user.username}}!</h1>

<div class="card mt-5 ms-5" style="max-width: 2000px;">

    <div class="row">

        <div class="col-md-4">
            <img src="{{user.profilePicture}}" class="img-fluid rounded-start" alt="profilePicture">
        </div>

        <div class="col-md-8 mt-3">

            <div class="card-body">

                <p class="card-text">Username: {{user.username}}</p>

                <br>

                <p class="card-text">E-mail: {{user.email}}</p>

                <br>

                <p class="card-text"> Description: {{user.description}}</p>

                <br>


                <form action="/users/edit/{{user.id}}" method="POST">
                    <a class="btn btn-dark" href="/users/edit/{{user.id}}" role="button">Edit profile</a>
                </form>

                <br>

                <form action="/users/delete/{{user.id}}" method="POST">
                    <input class="btn btn-dark mt-3" type="submit" role="button" value="Delete profile">
                </form>

            </div>

        </div>

    </div>

</div>

<h1> My games </h1>

<div class="row row-cols-3 mt-3 ms-4 me-4">

    {{#each gameDetails}}

    <div class="col-3">

        <div class="card" style="width: 18rem;">

            <img src="{{this.image_url}}" class="card-img-top" alt="...">

            <div class="card-body">

                <h5 class="card-title">{{this.name}}</h5>

                <a href="/games/details/{{this.id}}" class=" btn btn-dark">Details</a>

            </div>

        </div>

    </div>

    {{/each}}

</div>

</div>

<h1> My friends </h1>

<div class="row row-cols-4 row-cols-md-4 g-4 mt-3 ms-4 me-4">

    {{#each friendDetails}}

    <div class="col">

        <div class="card h-100 w-100 ms-3">

            <img src="{{this.profilePicture}}" style="max-width: 300px; max-height: 300px;">

            <div class="card-body">

                {{this.username}}

                <br>

                <br>

                <a class="btn btn-dark" href="/community/details/{{_id}}" role="button">See profile</a>

                <a class="btn btn-dark" href="/community/remove-friend/{{id}}" role=" button">Remove friend</a>

            </div>

        </div>

    </div>

    {{/each}}

</div>